.virtualCard {
    background-color: #e9e9e9;
    width: 90%;
    /*height: 500px;*/
    margin: auto;
    border-radius: 20px;
    /* border: #676767; */
    border-width: 2px;
    border-color: #676767;
    border-style: solid;
    padding: 10px;
    padding-bottom: 50px;
}

.avatar {
    border-radius: 50%;
    margin-top: 5px;
}

.school {
    margin-top: 5px;
}

.name {
    margin-bottom: 5px;
}

.qr {
    margin: auto;
    border-style: solid;
    border-color: #004993;
    border-radius: 15px;
    padding: 7px;
}

.qr-code-img {
    margin: auto;
}